<div class="h-[85vh] flex flex-col xl:flex-row">
    <div class="w-full xl:w-[50vw] flex flex-col px-28 pt-48">
        <h1 class="text-5xl">
            Hi <span class="text-custom-primary font-extrabold">Noman</span>, this is lorem ipsum.
          </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quasi, a sit pariatur odit temporibus nulla optio eaque ratione natus saepe laborum iure at accusantium itaque eum quos! Omnis sequi voluptas rerum voluptatibus, nihil quod ullam ut molestiae illo dolorem! Cum dicta exercitationem ea, dolore veniam vel. Totam, eligendi culpa?</p>
    </div>
    <div class="w-full xl:w-[50vw] flex justify-center items-center">
        <img src="/media/243428007_50964baa-ad20-4e79-bc33-e0361f00583a.jpg" height="500" width="500"  alt="">
    </div>
</div>