<div class="shadow-md h-auto fixed top-0 z-10 w-full bg-gray-50" >
    <nav class="flex py-6 justify-between items-center mx-28">
        <div class="font-bold text-3xl">My<Span class="text-custom-primary" >Logo</Span></div>
        <div *ngIf="isAuthenticated" class="text-[1rem] hidden xl:block">
            <a class="px-3 hover:text-slate-400" [routerLink]="['']" routerLinkActive="router-link-active" >Home</a>
            <a class="px-3 hover:text-slate-400" [routerLink]="['/contactUs']" routerLinkActive="router-link-active" >Contact Us</a>
        </div>
        <div class="hidden xl:block">
            <div *ngIf="!isAuthenticated">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="px-7 py-3 rounded-md bg-custom-primary hover:bg-custom-primary-hover text-white text-lg">Login</span></a>
                <button [routerLink]="['/register']" routerLinkActive="router-link-active"  class="ml-2 text-xl px-6 py-2 rounded-full bg-white text-custom-primary hover:text-custom-primary-hover">Sign Up</button>
            </div>
            <div *ngIf="isAuthenticated">
                <a class="cursor-pointer" (click)="logout()"><span class="px-7 py-3 rounded-md bg-custom-primary hover:bg-custom-primary-hover text-white text-lg" >Logout</span></a>
            </div>
        </div>
        <fa-icon class="text-2xl sm:block xl:hidden" [icon]="faBars"></fa-icon>
    </nav>
</div>